<!---- Footer ---->
<footer class="footer" id="footer-content">
  <div class="container-fluid" id="footer">
  <!--- Row for chevron navigation to top --->
  <div class="row justify-content-end toTop pr-2">
    <a href="#"><i class="fas fa-chevron-up"></i></a>
  </div>

  <!--- Row for social items --->
  <div class="row justify-content-center p-2">
    {% include social.html %}
  </div>
</div>
</footer>

<!-- Bootstrap Related Scripts -->
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
<script src="/assets/jquery/dist/jquery.min.js"></script>
<script src="/assets/popper.js/dist/umd/popper.min.js"></script>
<script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Custom Scripts -->
<script src="/assets/scripts/toTop.js"></script>
<script src="/assets/scripts/enablePopover.js"></script>
