<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ site.title }}</title>
  
  {% include _favicon.html %}

  {% include navigation.html %}

  {% include feature.html %}

  <!-- Font -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:500,500i,800,800i&amp;subset=latin-ext" rel="stylesheet">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/_sass/main.css">

</head>
